/*logo*/
.logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}
/*BG*/
body {
  padding-bottom: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*NAVBAR*/
.navbar {
  margin-bottom: 20px;
}

header {
  font-family: "Sofia", sans-serif;
}

li {
  display: inline;
  list-style-type: none;
}

/*Botton*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.fa {
  font-size: 19px;
  width: 20px;
}

.btn-slide {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 260px;
  line-height: 50px;
  margin: 25px 0;
  padding: 0px;
  border-radius: 25px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  background: linear-gradient(135deg, #e570e7 0%, #79f1fc 100%);
}

.btn-slide:active {
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(0.98);
  transform: scale(0.96);
}

.btn-slide:hover {
  background: linear-gradient(-135deg, #e570e7 0%, #79f1fc 100%);
}

.btn-slide span.circle {
  display: block;
  background-color: #fff;
  color: #e570e7;
  position: absolute;
  margin: 5px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all 1.5s ease;
}

.btn-slide:hover span.circle {
  left: 100%;
  margin-left: -45px;
  background-color: #fff;
  color: #79f1fc;
}

.btn-slide span.title {
  font-family: "Nunito Sans";
  position: absolute;
  left: 85px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  transition: all 1.5s linear;
}

.btn-slide span.title-hover {
  opacity: 0;
}
.btn-slide:hover span.title {
  opacity: 0;
}
.btn-slide:hover span.title-hover {
  opacity: 1;
  left: 60px;
}

@media (max-width: 540px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 20px;
  }

  .btn-slide {
    width: 240px;
  }
}
/*footer*/
.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
