.logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
}


/*product section*/
.products_section {
  margin-top: 100px;
}

.sub_page .products_section {
  margin-top: 100px;
}

.products_section .heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.products_section .heading_container h2 {
  font-weight: bold;
  text-align: center;
}

.product_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product_box {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 10px 10px;
}

.product_img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 247, 247);
}

.product_img-box img {
  width: 100%;
}

.product_img-box span {
  display: inline-block;
  background-color: #ec4045;
  color: #fefeff;
  padding: 2px 17px;
  margin-top: -20px;
  margin-bottom: 15px;
}

.product_detail-box {
  text-align: center;
  color: #717171;
  margin-top: 30px;
}

.product_detail-box span {
  color: #000000;
}

.product_detail-box p {
  border: #d8d5d5 solid 1px;
}
a {
  text-decoration: none;
}
/*btn-buy*/
.btn-12 {
  margin-top: 10px;
  position: inline-block;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 200px;
  perspective: 200px;
}
.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}